{% extends 'base.html' %}

{% block head %} 

<title>Lunas Wachstum</title>

{% endblock %}
{% block body %} 

<div class="content">
    <h1>Lunas Gewicht</h1>

    {% if tasks|length < 1 %}
    <h4>Kein Gewicht? Sie ist wohl eine Feder..</h4>

    {% else %}

    <table>
        <tr>
            <th>Gewicht in kg</th>
            <th>Datum</th>
            <th>Aktionen</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>
                    {% if task.data_created %}
                        {{ task.data_created.date() }}
                    {% else %}
                        kein Datum
                    {% endif %}
                </td>
                <td>
                    <a href="/delete/{{ task.id }}">Eintrag löschen</a>
                    <br>
                    <a href="/update/{{ task.id }}">Eintrag verändern</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <form action="/" method="POST">
        <input class="eingabe" type="text" name="content" id="content" required>
        <input class="eingabe" type="date" name="date" id="date">
        <input class="absenden" type="submit" value="Gewicht hinzufügen">
    </form>
</div>
{% endblock %}
